<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Please select a category</h3>
<form action="#" th:action="@{/sent}" method="post"><button>Sent</button></form><br>
<form action="#" th:action="@{/received}" method="post"><button>Received</button></form><br>
<form action="#" th:action="@{/damaged}" method="post"><button>Damaged</button></form><br>
<p>Go to <a href="/home">home</a> page</p>
</body>
</html>