<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Categories</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script></script>
</head>

<body text=#000000 aLink=#0000ff link=#000000>
	<div class="center">
		<h2>Please select a category</h2>
		<form action="#" th:action="@{/sent}" method="post">
			<button class="button button2">
				Sent</button>
		</form>
		<form action="#" th:action="@{/received}" method="post">
			<button class="button button2">
				Received</button>
		</form>
		<form action="#" th:action="@{/damaged}" method="post">
			<button class="button button2">
				Damaged</button>
		</form>
		<h3>Go back to <a href="/home">home</a></h3>
	</div>
<script src="style.js"></script>
</body>

</html>