<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<BODY text=#000000 vLink=#ffccoo aLink=#ffff00 link=#ffffff>

    <div class="center">
        <h2>Contact</h2>


        <p>Go to <a href="index.html">Home</a> page</p>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="sent.html">Sent</a></li>
            <li><a href="received.html">Received</a></li>
            <li><a href="damaged.html">Damaged</a></li>
        </ul>
    </nav>
    <script src="style.js"></script>
</body>

</html>