<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Entry</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body text=#000000 aLink=#0000ff link=#000000>
	<div class="center">
		<h3>Insert item information below:</h3>
		<form action="#" th:action="@{/inserted}" th:object="${factorymodel}" method="post">
			 <input th:field="*{orderNumber}" placeholder="Order Number" />
			<input th:field="*{barCode}" placeholder="Barcode" /><br>
			<input th:field="*{name}" placeholder="Item Name" />
			<input th:field="*{type}" placeholder="Item Type" /><br>
			<input th:field="*{quantity}" placeholder="Quantity" />
			<input th:field="*{value}" type="radio" id="sent" name="sent" value="sent" />
			<label for="sent">Sent</label>
			<input th:field="*{value}" type="radio" id="received" name="received" value="received" />
			<label for="received">Received</label>
			<input th:field="*{value}" type="radio" id="damaged" name="damaged" value="damaged" />
			<label for="damaged">Damaged</label>
		</form><br>
		<form action="#" th:action="@{/entry}" method="post"><button class="button button2">Submit</button>
		</form><br>

	</div>
	<nav>
		<ul>
			<li>QUICK LINKS</li>
			<li><a href="/home">Home</a></li>
			<li><a href="/sent">Sent</a></li>
			<li><a href="/received">Received</a></li>
			<li><a href="/damaged">Damaged</a></li>
		</ul>
	</nav>
	<script src="style.js"></script>
</body>

</html>