<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inserted</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body text=#000000 aLink=#0000ff link=#000000>
    <div class="center">
        <h2>Thank you!</h2>
        <h3>Your item has been stored <span th:text="${factorymodel.value}"></span></h3>
        <p>Go to <a href="/home">home</a> page</p>
    </div>
    <nav>
        <ul>
            <li>QUICK LINKS</li>
            <li><a href="/sent">Sent</a></li>
            <li><a href="/received">Received</a></li>
            <li><a href="/damaged">Damaged</a></li>
        </ul>
    </nav>
    <script src="style.js"></script>
</body>


</html>