<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Received</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<BODY text=#000000 aLink=#0000ff link=#000000>
	<div class="center">
		<h2>Received</h2>
		<br>
		<h3>Insert item information below:</h3>
		<form action="#" th:action="@{/inserted}" th:object="${factorymodel}" method="post">
			<ul>

				<li> <input th:field="*{orderNumber}" placeholder="Order Number" /></li>
				<li><input th:field="*{barCode}" placeholder="Barcode" /><br></li>
				<li><input th:field="*{name}" placeholder="Item Name" /></li>
				<li><input th:field="*{type}" placeholder="Item Type" /><br></li>
				<li> <input th:field="*{quantity}" placeholder="Quantity" /></li>
		</form>
		</ul>
		
		<form action="#" th:action="@{/entry}" method="post">
			<button class="button button2">Add item</button>
		</form>


		<br>
	</div>
	<nav>
		<ul>
			<li>QUICK LINKS</li>
			<li><a href="index.html">Home</a></li>
			<li><a href="categories.html">Categories</a></li>
			<li><a href="sent.html">Sent</a></li>
			<li><a href="received.html">Received</a></li>
			<li><a href="damaged.html">Damaged</a></li>
		</ul>
	</nav>
	<script src="style.js"></script>
</body>