<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sent</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body text=#000000 vLink=#ffccoo aLink=#ffff00 link=#ffffff>

  
        <div class="center">
            <h2>Sent items</h2>
            	<p>Item name: <span th:text="${sentmodel.name}"></span>
            	</p>
        </div>
            
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                       <li><a href="/received">Received</a></li>
                        <li><a href="/damaged">Damaged</a></li>
                    </ul>
                </nav>

</body>
</html>